<?xml version="1.0"?>
<robot name="roof">
    <link name="roof">
        <inertial>
            <mass value="0.151" />
            <inertia ixx="3.8554e-03" ixy="9.4075e-03" ixz="1.709e-03" iyy="4.445e-03" iyz="1.2246e-03" izz="2.5729e-03" />
        </inertial>
        <collision name="collision">
            <origin xyz="4 4 0.01" rpy="0 0 0" />
            <geometry>
                <box size="8 8 0.02" />
            </geometry>
        </collision>
        <visual name="visual">
            <origin xyz="4 4 0.01" rpy="0 0 0" />
            <geometry>
                <box size="8 8 0.02" />
            </geometry>
        </visual>
    </link>
</robot>